[submodule "crossplane-service-broker"]
	path = crossplane-service-broker
	url = git@github.com:eirini-forks/crossplane-service-broker.git
	branch = generic-service
[submodule "pgweb"]
	path = pgweb
	url = git@github.com:eirini-forks/pgweb.git
	branch = vcap-services
[submodule "cloud-storage-file-browser"]
	path = cloud-storage-file-browser
	url = git@github.com:eirini-forks/cloud-storage-file-browser.git
	branch = insecure
